In [1]:
# Importing the libraries we will need

# Importing the pandas library
#

# Importing the numpy library
import pandas as pd
import numpy as np

/tmp/ipykernel_3232/1710698203.py:7: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Let's read the data from the CSV file and create the dataframe to be used
path="/home/alpha/Downloads/Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv"
df=pd.read_csv(path,sep=",")

In [9]:
# Let's preview the first 10 rows of our data
df.head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
5,NAIROBI WEST,Urban,5,7547,7660,15207,Nairobi,NAIROBI,5
6,NAIROBI WEST,Urban,6,6966,7082,14048,Nairobi,NAIROBI,6
7,NAIROBI WEST,Urban,7,6511,6674,13185,Nairobi,NAIROBI,7
8,NAIROBI WEST,Urban,8,6171,6489,12660,Nairobi,NAIROBI,8
9,NAIROBI WEST,Urban,9,6361,6662,13023,Nairobi,NAIROBI,9

In [17]:
cols=df.columns
new_cols=['OBJECTID','Province','County','District','Urban/Rural','Age_years','Total','Male','Female']
df1=df.reindex(columns=new_cols).copy()
df1.drop('OBJECTID',inplace=True,axis=1)
df1

,Province,County,District,Urban/Rural,Age_years,Total,Male,Female
0,NAIROBI,Nairobi,NAIROBI WEST,Urban,0,20242,10126,10116
1,NAIROBI,Nairobi,NAIROBI WEST,Urban,1,16113,8124,7989
2,NAIROBI,Nairobi,NAIROBI WEST,Urban,2,17089,8462,8627
3,NAIROBI,Nairobi,NAIROBI WEST,Urban,3,16754,8334,8420
4,NAIROBI,Nairobi,NAIROBI WEST,Urban,4,15768,7948,7820
...,...,...,...,...,...,...,...,...
25415,WESTERN,Busia,TESO SOUTH,Rural,77,185,99,86
25416,WESTERN,Busia,TESO SOUTH,Rural,78,110,63,47
25417,WESTERN,Busia,TESO SOUTH,Rural,79,211,90,121
25418,WESTERN,Busia,TESO SOUTH,Rural,80+,775,384,391
25419,WESTERN,Busia,TESO SOUTH,Rural,Age NS,48,25,23

In [ ]:
making sure Total=Female+male

In [21]:
df1['total']=df1['Male']+df1['Female']
df1['equals']=df1['total']==df['Total']
df1.loc[df1['equals']!=True]

Empty DataFrame
Columns: [Province, County, District, Urban/Rural, Age_years, Total, Male, Female, total, equals]
Index: []

In [22]:
df1.loc[df1['Total']!=df1['Male']+df1['Female']]

Empty DataFrame
Columns: [Province, County, District, Urban/Rural, Age_years, Total, Male, Female, total, equals]
Index: []

In [23]:
df1.drop(['total','equals'],axis=1,inplace=True)

In [24]:
df1

,Province,County,District,Urban/Rural,Age_years,Total,Male,Female
0,NAIROBI,Nairobi,NAIROBI WEST,Urban,0,20242,10126,10116
1,NAIROBI,Nairobi,NAIROBI WEST,Urban,1,16113,8124,7989
2,NAIROBI,Nairobi,NAIROBI WEST,Urban,2,17089,8462,8627
3,NAIROBI,Nairobi,NAIROBI WEST,Urban,3,16754,8334,8420
4,NAIROBI,Nairobi,NAIROBI WEST,Urban,4,15768,7948,7820
...,...,...,...,...,...,...,...,...
25415,WESTERN,Busia,TESO SOUTH,Rural,77,185,99,86
25416,WESTERN,Busia,TESO SOUTH,Rural,78,110,63,47
25417,WESTERN,Busia,TESO SOUTH,Rural,79,211,90,121
25418,WESTERN,Busia,TESO SOUTH,Rural,80+,775,384,391
25419,WESTERN,Busia,TESO SOUTH,Rural,Age NS,48,25,23

In [29]:
df1.duplicated().sum()
#No duplicate entries in our data set

0

In [30]:
#chhecking for null values
for col in df1.columns:
    nulls=df1[col].isnull().sum()
    print(col,nulls)

Province 0
County 0
District 0
Urban/Rural 0
Age_years 0
Total 0
Male 0
Female 0

In [35]:
df1['Urban/Rural'].unique()

array(['Urban', 'Rural'], dtype=object)

In [36]:
df1

,Province,County,District,Urban/Rural,Age_years,Total,Male,Female
0,NAIROBI,Nairobi,NAIROBI WEST,Urban,0,20242,10126,10116
1,NAIROBI,Nairobi,NAIROBI WEST,Urban,1,16113,8124,7989
2,NAIROBI,Nairobi,NAIROBI WEST,Urban,2,17089,8462,8627
3,NAIROBI,Nairobi,NAIROBI WEST,Urban,3,16754,8334,8420
4,NAIROBI,Nairobi,NAIROBI WEST,Urban,4,15768,7948,7820
...,...,...,...,...,...,...,...,...
25415,WESTERN,Busia,TESO SOUTH,Rural,77,185,99,86
25416,WESTERN,Busia,TESO SOUTH,Rural,78,110,63,47
25417,WESTERN,Busia,TESO SOUTH,Rural,79,211,90,121
25418,WESTERN,Busia,TESO SOUTH,Rural,80+,775,384,391
25419,WESTERN,Busia,TESO SOUTH,Rural,Age NS,48,25,23

Changing Age_years column to INT

In [61]:
df1.loc[df1['Age_years']=='80+','Age_years']=85

In [52]:
df1.drop(df1.loc[df['Age_years']=='Age NS'].index,inplace=True)

In [ ]:
#Setting age=1 where age=0.you cant be 0 years old
df1.loc[df1['Age_years']==0,'Age_years']=1

In [68]:
df1.dtypes
df1['Age_years']=df1['Age_years'].astype(np.int64)
df1.dtypes

Province       object
County         object
District       object
Urban/Rural    object
Age_years       int64
Total           int64
Male            int64
Female          int64
dtype: object

Dealing with entries having Total,Male or Female population being 0

In [95]:
zero_pop=df1.loc[df1['Total']==0]
print(f"districts with a total population of 0 \n {zero_pop['District'].unique()}")
print("dropping rows with a total population of 0")
df1.drop(df1.loc[df1['Total']==0].index,inplace=True)

districts with a total population of 0
 ['LARI' 'THIKA EAST' 'GATANGA' 'GATUNDU' 'TANA DELTA' 'CHALBI'
 'MERU CENTRAL' 'MBEERE' 'MUTOMO' 'KYUSO' 'MBOONI' 'FAFI' 'WAJIR NORTH'
 'WAJIR WEST' 'RARIEDA' 'KISUMU WEST' 'KURIA EAST' 'MANGA' 'TURKANA SOUTH'
 'POKOT NORTH' 'POKOT CENTRAL' 'TRANS NZOIA EAST' 'BARINGO NORTH'
 'EAST POKOT' 'NANDI EAST' 'NANDI SOUTH' 'TINDERET' 'LAIKIPIA NORTH'
 'NAROK SOUTH' 'KAKAMEGA SOUTH' 'KAKAMEGA NORTH' 'HAMISI' 'SAMIA' 'KIKUYU'
 'RUIRU' 'KANGUNDO']
dropping rows with a total population of 0

In [104]:
df1.loc[(df1['Male']==0) | (df1['Female']==0)]
df1.drop(df1.loc[(df1['Male']==0) | (df1['Female']==0)].index,inplace=True)

In [106]:
df1.loc[(df1['Male']==0) | (df1['Female']==0)| (df1['Total']==0)]

Empty DataFrame
Columns: [Province, County, District, Urban/Rural, Age_years, Total, Male, Female]
Index: []

In [107]:
df1.shape

(23268, 8)

ANSWERING QUESTIONS

In [113]:
# Challenge 1
# What was the average age of a person of Kenya?
total_population=np.sum(df1['Total'])
total_years=np.sum(df1['Age_years']*df1['Total'])
average_age=total_years/total_population
print(f"Average age in Kenya was: {average_age}")

Average age in Kenya was: 22.047903441652153

In [114]:
# Challenge 2
# What was the average female population in Kenya?
female_population=np.sum(df1['Female'])
total_years=np.sum(df1['Age_years']*df1['Female'])
average_age=total_years/female_population
print(f"Average Female age in Kenya was: {average_age}")

Average Female age in Kenya was: 22.332793089996606

In [115]:
# Challenge 3
# What was the average male population in Kenya?
male_population=np.sum(df1['Male'])
total_years=np.sum(df1['Age_years']*df1['Male'])
average_age=total_years/male_population
print(f"Average Male age in Kenya was: {average_age}")

Average Male age in Kenya was: 21.759639285812227

In [123]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
district_population=df1.groupby('District')['Total'].sum()
sorted_district_population=district_population.sort_values(ascending=False)
sorted_district_population[:5]

District
NAIROBI EAST     1143734
NAIROBI NORTH    1060256
NAIROBI WEST      684151
SIAYA             549791
MOLO              541924
Name: Total, dtype: int64

In [125]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
counties_population=df1.groupby('County')['Total'].sum()
sorted_counties_population=counties_population.sort_values(ascending=False)
sorted_counties_population[:5]

County
Nairobi     3134798
Kiambu      1672775
Kakamega    1659577
Nakuru      1602636
Meru        1590454
Name: Total, dtype: int64

In [130]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
district_population=df1.groupby('District')['Total'].sum()
sorted_district_population=district_population.sort_values(ascending=False)
sorted_district_population[-5:]

District
SAMBURU NORTH     59785
SAMBURU EAST      59087
MARSABIT          46488
GARBATULLA        43105
LAIKIPIA NORTH    32736
Name: Total, dtype: int64

In [141]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
counties_population=df1.groupby('County')['Total'].sum()
sorted_counties_population=counties_population.sort_values(ascending=False)
dense_county=sorted_counties_population.iloc[0]
#ASSUMING AVERAGE MEANS TOTAL
sorted_counties_population.index[0]
#ASSMING IT IS AVERAGE ACCORDING TO COUNTY ENTRIES
number_of_counties=len(df1.loc[df1['County']==sorted_counties_population.index[0]])
average=dense_county/number_of_counties
print(sorted_counties_population.index[0],": ",dense_county)
print(number_of_counties,sorted_counties_population.index[0])
print(average)

Nairobi :  3134798
324 Nairobi
9675.302469135802

In [145]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
counties_population=df1.groupby('County')['Total'].sum()
sorted_counties_population=counties_population.sort_values(ascending=False)
sparse_county_pop=sorted_counties_population.iloc[-1]
sparse_county=sorted_counties_population.index[-1]
number_of_counties=len(df1.loc[df1['County']==sparse_county])
average=sparse_county_pop/number_of_counties
print(sparse_county,": ",sparse_county_pop)
print(number_of_counties,sparse_county)
print(average)

Lamu :  101483
162 Lamu
626.4382716049382

In [151]:
# Challenge 9
# What was the total population of Busia County?
counties_pop=df.groupby('County')['Total'].sum()
busia_pop=counties_pop['Busia']
print(f"Busia pop was {busia_pop}")

Busia pop was 743946

In [167]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
busia_data=df1.loc[df['County']=="Busia",['County','Age_years','Total']]
average_age=np.sum(busia_data['Age_years']*busia_data['Total'])/np.sum(busia_data['Total'])
print(f"average age in busia was: {average_age}")
age_average_age_people=busia_data.loc[busia_data['Age_years']==int(average_age),'Total'].sum()
print(f"there were {age_average_age_people} people aged {int(average_age)} years iin Busia")

average age in busia was: 20.739663981043293
there were 17217 people aged 20 years iin Busia

In [189]:
# Challenge 11
# What was the Total population of Teso South District?
district_pop=df1.groupby('District')['Total'].sum()
pop_teso=district_pop.loc['TESO SOUTH']
#df1.loc[df1['District']=="TESO SOUTH"]
print(f"total pop of teso south was: {pop_teso}")

total pop of teso south was: 137863

In [197]:
# Challenge 12
# What was the urban population of Teso South District?
district_Urban_Rural_pop=df1.groupby(['Urban/Rural','District'])['Total'].sum()
urban_teso=district_Urban_Rural_pop['Urban']['TESO SOUTH']
print(f"total urban pop of teso was: {urban_teso}")

total urban pop of teso was: 26149

In [199]:
# Challenge 13
# What was the rural population of Teso South District?
district_Urban_Rural_pop=df1.groupby(['Urban/Rural','District'])['Total'].sum()
rural_teso=district_Urban_Rural_pop['Rural']['TESO SOUTH']
print(f"total urban pop of teso was: {rural_teso}")

total urban pop of teso was: 111714

In [198]:
district_Urban_Rural_pop['Urban']['TESO SOUTH']+district_Urban_Rural_pop['Rural']['TESO SOUTH']

137863

In [202]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
age60=df1.loc[df1['Age_years']>=60,'Total'].sum()
print(f"people aged from 60 years were: {age60}")

people aged from 60 years were: 1925773

In [205]:
# Challenge 15
# What was the urban population in Kenya?
urban_pop=df.groupby("Urban/Rural")['Total'].sum()['Urban']
print(f"urban pop in kenya was: {urban_pop}")

urban pop in kenya was: 12487375